#tooltip {
    position: absolute;
    width: =auto;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius:10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events: none;
}
#tooltip.hidden{
    display:none;
}
.button{
    padding-top: 50px;
    float: left;
    background-color:white;
    padding: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
    border-width: 2px;
    font-weight: 300px;
    -webkit-text-stroke-width: .5px; 
    -webkit-text-stroke-color: black;
}
.button:hover{
    background-color:grey;
    border-color:white;
    -webkit-text-stroke-color: white;
}
#HeatMap{
    padding-bottom:50px;
}
.labels text{
    fill: cyan;
    stroke: black;
    font-size: 24;
}

